services:
  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      # ローカルのdbの設定
      # DATABASE_URL: postgres://appuser:apppassword@db:5432/appdb
      # DB接続先住所
      - DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.ogjpslisorqbztlzhocd.supabase.co:5432/postgres
    depends_on:
      - db

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - backend


  # 今回はsupabaseを使用するので一度削除しました
  # db:
  #   image: postgres:15
  #   container_name: anayama-db
  #   environment:
  #     POSTGRES_USER: appuser
  #     POSTGRES_PASSWORD: apppassword
  #     POSTGRES_DB: appdb
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  frontend_node_modules:
